.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.itens{
    font-size: 20px;
    margin-right:  1em;
}

.itens a{
    color: #FFF;
    text-decoration: none;
}

.itens a:hover{
    color: #FFBB33;
    text-decoration: none;
}